{% extends 'core/base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/cadastrar_disciplina.css' %}">
{% endblock %}
{% block content %}
<main class="conteudo">
    <h2 class="titulo">Adicionar Disciplina em {{ turma.nome }}</h2>

    <form method="POST" class="formulario">
        {% csrf_token %}

        <label>Nome da Disciplina</label>
        <input type="text" name="nome" required>

        <label>Professor Responsável</label>
        <select name="professor" required>
            {% for prof in professores %}
                <option value="{{ prof.id }}">{{ prof.nome_completo }}</option>
            {% endfor %}
        </select>

        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
</main>

{% endblock %}
