{% extends 'core/base.html' %}
{% load static %}

{% block title %}Painel do Aluno{% endblock %}
{% block header_title %}Painel do Aluno{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'core/css/painel_aluno.css' %}">
{% endblock %}

{% block user_info %}
  <span>Olá, <a href="#">{{ aluno.nome_completo.split|first }}</a></span>
  <a href="{% url 'editar_perfil_aluno' %}"><i class="fas fa-user"></i></a>
  <a href="{% url 'logout' %}"><i class="fas fa-power-off"></i></a>
{% endblock %}

{% block content %}
  <div class="topo-titulos">
    <span class="titulo">MINHAS NOTAS</span>
    <span class="turma">Turma: {{ aluno.turma.nome }}</span>
  </div>

  <div class="painel">
    <table>
      <thead>
        <tr>
          <th class="destaque">Disciplina</th>
          <th>1º</th>
          <th>2º</th>
          <th>3º</th>
          <th>4º</th>
          <th class="destaque">Média</th>
        </tr>
      </thead>
      <tbody>

        {% for item in disciplinas_com_notas %}
          <tr>
            <td>{{ item.disciplina.nome }}</td>

            <td>{{ item.nota.nota1|default_if_none:"-" }}</td>
            <td>{{ item.nota.nota2|default_if_none:"-" }}</td>
            <td>{{ item.nota.nota3|default_if_none:"-" }}</td>
            <td>{{ item.nota.nota4|default_if_none:"-" }}</td>

            <td>
              {% if item.nota and item.nota.media %}
                {{ item.nota.media|floatformat:2 }}
              {% else %}
                -
              {% endif %}
            </td>
          </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
{% endblock %}
