* {
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #5aa1c2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
    margin-top: 20px;
    margin-bottom: 20px;
  background-color: #29557a;
  border-radius: 20px;
  padding: 30px 40px;
  width: 90%;
  max-width: 700px;
  color: white;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-row {

  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input,
select {
  padding: 10px;
  border-radius: 25px;
  border: none;
  background-color: #a7b89c;
  font-size: 1rem;
}

#passwordStrength {
  height: 5px;
  background: white;
  margin-top: 5px;
  border-radius: 3px;
}

.strength-label {
  font-size: 0.9rem;
  margin-top: 5px;
  color: white;
}

.submit-btn {
  display: block;
  width: 100%;
  padding: 15px;
  font-size: 1.2rem;
  background-color: #fff1a8;
  color: #1f3d5a;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #ffe977;
}

#forcaSenha {
  height: 5px;
  background: white;
  margin-top: 5px;
  border-radius: 3px;
  transition: width 0.3s ease-in-out;
}

.foto-perfil-preview {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    border: 3px solid #113f67;
    background: #ccc;
}

.foto-default {
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:40px;
    color:white;
    background:#999;
}
