<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estrutura de Menus - Docentes</title> 
    <link rel="stylesheet" href="docente.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>

<body>
    <!--Div Global-->
    <div class="container">

        <!--Menu do Topo, Fixo-->
        <div class="menu-principal">
            <img src="Logo_Branca.png" class="logo-menu">
            <h2>sige</h2>

            <i class="fa-solid fa-bars icone-menu hamburguer" id="menu-toggle"></i>

            <div class="menu-icones">
                <i class="fa-solid fa-user icone-menu menu-icon-start"></i>
                <i class="fa-solid fa-right-from-bracket icone-menu"></i>
            </div>
        </div>

         <!--Menu Lateral, Fixo-->
        <div class="menu-lateral" id="menu-lateral">
            <nav class="nav-lateral">
                <a href="#"><i class="fa-solid fa-house" style="color: #ffffff;"></i> Início</a>
                <a href="#"><i class="fa-solid fa-graduation-cap" style="color: #ffffff;"></i> Turmas</a>
                <a href="#"><i class="fa-solid fa-users" style="color: #ffffff;"></i> Usuários</a>
                <a href="#"><i class="fa-solid fa-book-open" style="color: #ffffff;"></i> Disciplinas</a>
            </nav>
        </div>

        <!--Main conténdo todo conteúdo da Página-->
        <main class="conteudo-principal">
            <div class="header-docentes">
                <button class="btn-voltar">
                    <i class="fa-solid fa-arrow-left"></i>
                </button>
                <h1 class="titulo-pagina">Docentes</h1> 
                <button class="btn-adicionar">
                    Adicionar Docente 
                </button>
            </div>

            <!--Card-->
            <div class="card-tabela">
                <div class="barra-busca">
                    <input type="text" placeholder="Buscar">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>

                <!--Container da Tabela-->
                <div class="container-tabela">
                    <table class="tabela-docentes">
                        <thead>
                            <tr>
                                <th class="coluna-nome">Nome</th>
                                <th class="coluna-data-nas">Data Nas.</th>
                                <th class="coluna-email">Email</th>
                                <th class="coluna-acoes">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Prof. Pedro Henrique</td>
                                <td>25/08/1985</td>
                                <td>henrique.pedro@gmail.com</td>
                                <td class="coluna-acoes">
                                    <i class="fa-solid fa-pen-to-square acao-editar"></i>
                                    <i class="fa-solid fa-trash acao-excluir"></i>
                                </td>
                            </tr>
                            <tr>
                                <td>Prof. José Guilherme</td>
                                <td>10/03/1979</td>
                                <td>guilherme.jose@gmail.com</td>
                                <td class="coluna-acoes">
                                    <i class="fa-solid fa-pen-to-square acao-editar"></i>
                                    <i class="fa-solid fa-trash acao-excluir"></i>
                                </td>
                            </tr>
                            <tr>
                                <td>Prof. Júnior Nascimento</td>
                                <td>01/01/1990</td>
                                <td>nascimento.junior@gmail.com</td>
                                <td class="coluna-acoes">
                                    <i class="fa-solid fa-pen-to-square acao-editar"></i>
                                    <i class="fa-solid fa-trash acao-excluir"></i>
                                </td>
                            </tr>
                            <tr>
                                <td>Prof. Suanderson Silva</td>
                                <td>15/06/1982</td>
                                <td>silva.suanderson@gmail.com</td>
                                <td class="coluna-acoes">
                                    <i class="fa-solid fa-pen-to-square acao-editar"></i>
                                    <i class="fa-solid fa-trash acao-excluir"></i>
                                </td>
                            </tr>
                            <tr>
                                <td>Prof. Israel Cipriano</td>
                                <td>20/11/1975</td>
                                <td>cipriano.israel@gmail.com</td>
                                <td class="coluna-acoes">
                                    <i class="fa-solid fa-pen-to-square acao-editar"></i>
                                    <i class="fa-solid fa-trash acao-excluir"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>

    </div>

    <!--Script para Função Hamburguer(responsividade)-->
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const toggleBtn = document.getElementById("menu-toggle");
            const menuLateral = document.getElementById("menu-lateral");

            toggleBtn.addEventListener("click", () => {
                menuLateral.classList.toggle("ativo");
            });
        });
    </script>
</body>

</html>