<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGE - Painel de Usuários</title>
    <link rel="stylesheet" href="usuario.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"> 
</head>

<body>
    <!--Div Global-->
    <div class="container">

        <!--Main conténdo todo conteúdo da Página-->
        <main class="conteudo-principal-rolavel">
          
            <!--Cards-->
            <div class="painel-usuarios">
                <h2 class="titulo-painel">Usuários do Sistema</h2>
                <div class="cards-total">
                    <div class="card-usuario">
                        <i class="fas fa-user-graduate icon"></i>
                        <span class="label">Discentes</span>
                    </div>
                    <div class="card-usuario">
                        <i class="fas fa-chalkboard-teacher icon"></i>
                        <span class="label">Docentes</span>
                    </div>
                    <div class="card-usuario">
                        <i class="fas fa-user-tie icon"></i>
                        <span class="label">Gestão Escolar</span>
                    </div>
                </div>
            </div>

        </main>
    </div>

    <!--Script para Função Hamburguer(responsividade)-->
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const toggleBtn = document.getElementById("menu-toggle");
            const menuLateral = document.getElementById("menu-lateral");

            toggleBtn.addEventListener("click", () => {
                menuLateral.classList.toggle("ativo");
            });
        });
    </script>
</body>

</html>